Xft.dpi: 72
!Xft.dpi: 125
!Xft.dpi: 92
Xft*forcePackedFont: true
!XTerm*faceName: xft:Liberation Mono:pixelsize=12
!XTerm*faceName: xft:Source Code Pro:pixelsize=12
!XTerm*faceName: xft:artwiz lime.se:antialias=false
!XTerm*faceName: xft:artwiz lime.se:pixelsize=9:antialias=false
!XTerm*boldFont: xft:Source Code Pro
!XTerm*faceName: xft:Source Code Pro
XTerm*faceName: xft:CtrlD:antialias=false
XTerm*boldFont: xft:CtrlD:antialias=false
!XTerm*boldFont: xft:Liberation Mono:pixelsize=18
!XTerm*faceName: xft:GohuFont:antialias=false
!XTerm*faceName: xft:Misc Tamsynmod:antialias=false
!XTerm*faceName: xft:peep:antialias=false
!XTerm*faceName: xft:Spleen:antialias=false
!XTerm*faceName: xft:Unscii Unscii:antialias=false
XTerm*faceNameDoublesize: xft:unifont:pixelsize=12,xft:Twitter Color Emoji:pixelsize=9
XTerm*faceSize: 18

XTerm*foreground: White
XTerm*background: Black
XTerm*boldMode: false
xterm*alwaysBoldMode: true
XTerm*allowBoldFonts: true
XTerm*allowColorOps: true
XTerm*allowTcapOps: true
XTerm*allowWindowOps: true
XTerm*dynamicColors: true
XTerm*jumpScroll: true
XTerm*fastScroll: true
XTerm*renderFont: true
XTerm*saveLines: 2000
XTerm*termName: xterm-256color
XTerm*scaleHeight: 1.0
XTerm*utf8: 2
XTerm*utfTitle: true
XTerm*visualBell: true
XTerm*visualBellLine: true
XTerm*cursorColor: #609060

URxvt.saveLines: 2000
URxvt.reverseVideo: false
!URxvt.font: xft:Input:pixelsize=8,xft:unifont
URxvt.font: xft:Liberation Mono:pixelsize=10,xft:unifont
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.termname: rxvt-256color
URxvt.letterSpace: -1
URxvt.foreground: White
URxvt.background: Black
URxvt.lineSpace: 1.1
!URxvt.transparent: true
!URxvt.shading: 60
!URxvt.depth: 32
!URxvt.buffered: true
!URxvt.background: rgba:ffff/ffff/ffff/dddd
!URxvt.fading: 2%
!URxvt.fadeColor: grey
!URxvt.shading: 75

ssh-askpass*background: #000000

